<div class="container container-padded">
	<div class="row"> 
		<div class="offset-md-2 col-md-8">
			<div class="card card-block">
				<h4 class="card-title"><%= @tweet.user.email %></h4>
				<p class="card-text"><%= @tweet.content %></p>
				<!-- If you own the tweet then you can delete or edit -->
				<% if @tweet.user == current_user %>
					<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
				<% end %>
				<%= link_to 'Back', tweets_path %>
			</div>
		</div>
	</div>
</div>

	