<h1>About Us</h1>

<div>

	<h2>I'm one of those old school MiSFiT's</h2>

		<p>A little old school at times and part of a generation gone past in coding terms.  I left MSFT (microsoft) after almost 20 years of effort.  Love learning new stuff, like Rails!  Nice to be out of the Window's sandbox. It's really refreshing too and much cooler in the shade!</p>


		<h3>How Easter Eggs are Made:</h3>
		<img src="https://media3.giphy.com/media/JQYAE5PvKW9uE/200.gif">
			
		<p>I remember when the IDE for web was NOTEPAD.EXE!  I even wrote a shim app that helped NT Server turn into a web server and taught developers how to write statless code...but who gives a "@#$@$#"  I was once in an Easter Egg too!  It was the VB 4.0 Enterprise Edition...but then we got all corprate like and had to quit doing s*#% like that or you'd get fired!</p>

</div>
