
<H1>Contact Shannan</h1>


<div>

	<h2>Feel Free to Connect!</h2>

		<p>I don't drink much, but probably should...BUT I do LOVE Coffee!</p>

		<h3>Me after one beer:</h3>
		
		<img src="http://media0.giphy.com/media/YPBvdXHxANHHi/200.gif" class="container-image">

		<h3>Stay thirsty:</h3>
			
</div>



<div class="container">

	<li class="SCweb">
		<a target="_blank" href="http://www.shannancollins.com">
			<i class="fa fa-fw fa-web">
			<span>ShannanCollins.com</span>
			</i>
		</a>
	</li>

	<li class="facebook-official">
		<a target="_blank" href="https://www.facebook.com/shannancollinsFP">
		<i class="fa fa-fw fa-facebook-official">
		<span>Facebook</span>
		</i>
		</a>
	</li>


	<li class="twitter">
		<a target="_blank" href="https://twitter.com/shannancollins">
		<i class="fa fa-fw fa-twitter">
		<span>Twitter</span>
		</i>
		</a>
	</li>
				
	<li class="linkedin">
		<a target="_blank" href="https://www.linkedin.com/in/shannancollins">
		<i class="fa fa-fw fa-linkedin">
		<span>LinkedIn</span>
		</i>
		</a>
	</li>

	<li class="instagram">
		<a target="_blank" href="https://instagram.com/shannanscollins/">
		<i class="fa fa-fw fa-instagram">
		<span>Instagram</span>
		</i>
		</a>
	</li>
	<li class="youtube">
		<a target="_blank" href="https://www.youtube.com/user/shannanscollins">
		<i class="fa fa-fw fa-youtube">
		<span>YouTube</span>
		</i>
		</a>
	</li>
	<li class="pinterest">
		<a target="_blank" href="http://www.pinterest.com/shannanscollins">
		<i class="fa fa-fw fa-pinterest">
		<span>Pinterest</span>
		</i>
		</a>
	</li>
	<li class="email">
		<a target="_blank" href="mailto:shannan@shannancollins.com">
		<i class="fa fa-fw fa-envelope">
		<span>Email</span>
		</i>
		</a>
	</li>

</div>


