<h1>Welcome to a One Month Rails Week 1 Project Site.</h1>

<div>

	<h2>Love Cats?</h2>

		<p>AApparently, at One Month they do!  Well that may not be true, but everyone know's that Chris loves to include cats in his sample apps!  He makes us use them all of the time in our assignments.  I thought you might like to see one too! Here is one of my favorites: </p>

		<img src="http://www.placekitten.com/g/200/200" >
			
		<p>With all of the options we've been given with OM samples, it will be hard to choose.  We just finished a jscript example that used semantic.ui and now we're going to use bootstrap.  Might build a webscraper, a Sound Cloud wrapper, who knows.  Perhaps an "insult" server?  So often one looks for happy stuff on the web, but every now and then, one need a good scolding or kick in the "pants" too.  LOL! THIS WILL BE FUN</p>

</div>
