
<div class="container container-padded">
<%if user_signed_in? %>

    <!-- Signed IN Home Page -->
    <%= render 'pages/home_signed_in' %>

<%else%>
  
    <!-- Signed OUT Home Page -->
     <%= render 'pages/home_signed_out' %>

<%end%>
</div>