// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .jumbotron-home {
//     background-image: url(image_path('home-bg.jpg'));
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;
// }

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

//$body-bg:                          #white;
$font-family-sans-serif:           'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//$navbar-height:                    50px;
//$navbar-default-bg:                white;
$navbar-default-brand-color:       #16a085;
$brand-primary:                    #16a085;				
//$jumbotron-bg:                     white;


.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

